{{ $sectionID := replace (lower .section.name) " " "-"  }}
{{ if .section.id }}
  {{ $sectionID = .section.id }}
{{ end }}

{{ $numShow := 3}}
{{ if .section.numShow }}
  {{ $numShow = .section.numShow }}
{{ end }}


<div class="container-fluid anchor pb-5 recent-posts-section">
  {{ if not (.section.hideTitle) }}
    <h1 class="text-center">
        <span id="{{ $sectionID }}"></span>{{ .section.name }}</h1>
  {{ else }}
    <h1 class="text-center" style="display: none">
        <span id="{{ $sectionID }}"></span>{{ .section.name }}</h1>
  {{ end }}
  <div class="container">
    <div class="row" id="recent-post-cards">
      {{/* Get local posts */}}
      {{ $localPosts := where (where site.RegularPages.ByDate.Reverse "Type" "posts" ) "Layout" "!=" "search" }}
      
      {{/* Get external posts */}}
      {{ $externalPosts := partial "helpers/rss-aggregator.html" . }}
      
      {{/* Combine and sort posts by date */}}
      {{ $allPosts := slice }}
      
      {{/* Add local posts to collection */}}
      {{ range $localPosts }}
        {{ $post := dict
          "title" .Title
          "url" .RelPermalink
          "date" .Date
          "summary" .Summary
          "external" false
          "page" .
        }}
        {{ $allPosts = $allPosts | append $post }}
      {{ end }}
      
      {{/* Add external posts to collection */}}
      {{ range $externalPosts }}
        {{ $post := dict
          "title" .title
          "url" .url
          "date" (.date | time.AsTime)
          "summary" .description
          "external" true
          "externalData" .
        }}
        {{ $allPosts = $allPosts | append $post }}
      {{ end }}
      
      {{/* Sort all posts by date and display */}}
      {{ $sortedPosts := sort $allPosts "date" "desc" }}
      {{ range first $numShow $sortedPosts }}
        {{ if .external }}
          {{ partial "cards/external-post.html" .externalData }}
        {{ else }}
          {{ partial "cards/post.html" .page }}
        {{ end }}
      {{ end }}
    </div>
  </div>
  {{ if (.section.showMoreButton) }}
  <div class="container" style="
  display: flex;
  align-items: center;
  justify-content: center;">
    <a href="/posts/" title="Show More" class="float-end btn btn-outline-info btn-sm" >
    {{ i18n "show_more"}}</a>
  </div>
  {{ end }}
</div>
